# KOB cache and throughput directories (very large regression results)
kob/cache/*
kob/throughput/*

# Keep .gitkeep marker files in these folders to ensure the directory structure
# is preserved for replication code, even though their contents are ignored (because
# of very large file size)
!kob/cache/.gitkeep
!kob/throughput/.gitkeep

# R environment local files
.Rprofile
renv/

# Large data files
data/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# SLURM logs
slurm*
